[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
pillow = "*"
tqdm = "*"
pandas = "*"
matplotlib = "*"
python-dotenv = "*"
ffmpeg-python = "*"
moviepy = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.7"
